.app_dark_theme {
    --bg-color: #080875;
    --inverted-bg-color: #d9d0d0ff;
    --primary-color: #0fde0f;
    --secondary-color: #056b05;
    --inverted-primary-color: #040492;
    --inverted-secondary-color: #0303f7;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1818ce;

    // card
    --card-bg: #1e1ebf;

    // listbox
    --listbox-bg: #1e1ebf;
}
