.app.dark {
    --bg-color: #080875;
    --inverted-bg-color: #d9d0d0ff;
    --primary-color: #0fde0f;
    --secondary-color: #056b05;
    --inverted-primary-color: #040492;
    --inverted-secondary-color: #0303f7;
}
