.app.light {
  --bg-color: #D9D0D0FF;
  --inverted-bg-color: #080875;

  --primary-color: #040492;
  --secondary-color: #0303f7;
  --inverted-primary-color: #0fde0f;
  --inverted-secondary-color: #056b05;
}