:root {
    --bg-color: #d9d0d0ff;
    --inverted-bg-color: #080875;
    --primary-color: #040492;
    --secondary-color: #0303f7;
    --inverted-primary-color: #0fde0f;
    --inverted-secondary-color: #056b05;

    // skeleton
    --skeleton-color: #fff;
    --skeleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;

    // card
    --card-bg: #beb9b9;
}
